<!DOCTYPE html>
<html>
  <head>
    	
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      #header, #main, #footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 992px) {
        #header, #main, #footer {
          padding-left: 0;
        }
      }
    </style>
  </head>
  <body>

    <!--Nav Bar-->
    <div id="header" class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/das" class="brand-logo center">E-wal</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/das">Home</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <ul class="sidenav #ffffff white sidenav-fixed" id="mobile-demo">
      <li b><a class="black-text" href="/das">Home<i class="material-icons black-text">home</i></a></li>
      <li class="divider nogap"></li>
      <li><a href="/profile" class="black-text">Profile<i class="material-icons black-text">account_circle</i></a></li>
      <li><a href="/wallet" class="black-text">wallet<i class="material-icons black-text">account_balance_wallet</i></a></li>
      <li><a href="/survey1" class="black-text">Survey<i class="material-icons black-text">account_balance</i></a></li>
      <li><a href="/pay" class="black-text">PAY<i class="material-icons black-text">payment</i></a></li>
      <li><a href="/out" class="black-text">LOGOUT<i class="material-icons black-text">power_settings_new</i></a></li>
      <li><a href="#" class="black-text">FAQ/Help<i class="material-icons black-text">help_outline</i></a></li>
      <li><a href="/remove" class="black-text">REMOVE ACCOUNT<i class="material-icons black-text">remove</i></a></li>
    </ul>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a class="btn-floating red" href="/profile"><i class="material-icons">account_circle</i></a></li>
        <li><a class="btn-floating #8e24aa purple darken-1" href="/wallet"><i class="material-icons">account_balance_wallet</i></a></li>
        <li><a class="btn-floating green" href="/bank"><i class="material-icons">account_balance</i></a></li>
        <li><a class="btn-floating blue" href="/pay"><i class="material-icons">payment</i></a></li>
        <li><a class="btn-floating blue" href="/#"><i class="material-icons">help_outline</i></a></li>
      </ul>
    </div>

    <!--Section-->
    <section id="main" style="padding-bottom: 600px">
      <div class="row">
        <div class="col s12">  
           <h5>WALLET BALANCE: <input id="balanced" type="text" name="balanced" disabled value="<%= balance %>"> USD</h5>
          
           <!-- Modal Trigger -->
           <a class="waves-effect waves-light btn-large btn modal-trigger" href="#modal1"><i class="large material-icons right">attach_money</i>Add Money</a>
            <div id="modal1" class="modal">
                <form action="/addmoney" method="post">
                <div class="modal-content">
                  <h4>Add Money To WALLET</h4>
                  <p>
                      <div class="row col s6 m4 l3">                  
                        <i class="material-icons prefix">attach_money</i>
                        <input id="money" name="money" type="number" class="validate">
                        <label for="money">Enter Amount</label>
                      </div>
                  </p>
                </div>
                <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn-flat" type="submit">ADD</button>
                </div>
              </form>
            </div> 
            
          <a class="waves-effect waves-light btn-large btn modal-trigger" href="#modal2"><i class="large material-icons right">payment</i>Request</a>
          <div id="modal2" class="modal">
            <div class="modal-content row">
              <h4>Request Money</h4>
              <p>
                <div class="row col s6">
                    <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">attach_money</i>
                              <input id="icon_prefix" type="text" class="validate">
                              <label for="icon_prefix">Enter Amount</label>
                            </div>
                            <div class="input-field col s6">
                              <i class="material-icons prefix">phone</i>
                              <input id="icon_telephone" type="tel" class="validate">
                              <label for="icon_telephone">Mobile Number</label>
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
              </p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
          </div>  

          <a class="waves-effect waves-light btn-large btn modal-trigger" href="#modal3"><i class="large material-icons right">card_giftcard</i>SEND GIFT</a>
          <div id="modal3" class="modal">
            <div class="modal-content">
              <h4>Modal3 Header</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
          </div> 
          <a class="waves-effect waves-light btn-large btn modal-trigger" href="#modal4"><i class="large material-icons right">shopping_cart</i>SHOP</a>  
            <div id="modal4" class="modal">
              <div class="modal-content">
                <h4>Websites For Shopping</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>        
        </div> 
      </div> 
      
      <div class="row">
        <div class="col s12">
          <h5>Payment History</h5>
        </div>
      </div>
      <table>
        <thead>
          <tr>
              <th>SEND TO</th>
              <th>RECEIVER MOBILE NUMBER</th>
              <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
         <% for(var i=0; i < sentLength; i++) { %> 
           <tr>
            <td><%= sentRow[i].to_name %></td>
            <td><%= sentRow[i].to_mobile %></td>
            <td><%= sentRow[i].amount %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <hr>
      <hr>
      <table>
        <thead>
          <tr>
              <th>RECEIVED FROM </th>
              <th>SENDER MOBILE NUMBER</th>
              <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          <% for(var j=0; j< receiveLength; j++) { %> 
            <tr>
             <td><%= receiveRow[j].from_name %></td>
             <td><%= receiveRow[j].from_mobile %></td>
             <td><%= receiveRow[j].amount %></td>
           </tr>
           <% } %>
        </tbody>
      </table> 
    </div>
    </div>     
  </section>    
    <!--Footer-->
    <footer id="footer" class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Welcome to your wallet page! Here, you can securely manage and monitor your E-wal balance.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/das">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>

      
    </section>
    <!--Footer-->
    <footer id="footer" class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="/das">Home</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright grey darken-4">
          <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>


    <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script >
            document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems,{});
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
  

      });

  
    </script>
  
    
  </body>
</html>